# ignore specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rd2pdf*
*.dat
DB_credentials_*
*.Rd

# ignore directories and files
/build
/data/df.gauging_data_latest.rda
/data-raw/daily_cron_hpc-service.bafg.de.log
/data-raw/daily_cron_aqualogy-cloud.de.log
/data-raw/gauging_data.csv
/data-raw/gauging_data.sql.gz
/data-raw/gauging_data_missing.csv
/data-raw/gauging_station_data.csv
/data-raw/pegelonline2gauging_data.err
/data-raw/pegelonline2gauging_data.out
/data-raw/postgres.sql.gz
/inst/doc
/man/figures/Thumbs.db
/presentation/presentation.html
/presentation/Thumbs.db
/public
/vignettes/hyd1d.html
/vignettes/Thumbs.db
/vignettes/vignette_lang_DE.toc
/vignettes/vignette_lang_DE.html
/vignettes/vignette_lang_DE.pdf
/vignettes/vignette_lang_DE.tex
/README_files/figure-markdown_github/Thumbs.db
