# ignore specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rd2pdf*
*.aux
*.bcf
*.dat
DB_credentials_*
*.Rd
*.lof
*.log
*.lot
*humbs.db
.Renviron
.Rprofile
*.run.xml
.commit

# ignore directories and files
build
built
data/date_gauging_data.rda
data/df.gauging_data_latest.rda
data-raw/daily_cron_hpc-service.bafg.de.log
data-raw/daily_cron_r.bafg.de.log
data-raw/daily_cron_aqualogy.de.log
data-raw/gauging_data.csv
data-raw/gauging_data.sql.gz
data-raw/gauging_data_missing.csv
data-raw/gauging_station_data.csv
data-raw/pegelonline2gauging_data.err
data-raw/pegelonline2gauging_data.out
data-raw/postgres.sql.gz
doc
/doc/
docs
inst/doc
Meta
/Meta/
presentation/Thumbs.db
presentation/presentation_DE.html
presentation/presentation_DE_files/*
presentation/*.mp4
shinyapps/waterLevel/rsconnect/
shinyapps/waterLevel/www
shinyapps/waterLevelPegelonline/rsconnect/
vignettes/hyd1d_files/*
vignettes/hyd1d.html
vignettes/hyd1d.pdf
vignettes/hyd1d.R
vignettes/hyd1d.tex
vignettes/hyd1d.toc
vignettes/Thumbs.db
vignettes/vignette_DE_files/*
vignettes/vignette_DE.html
vignettes/vignette_DE.pdf
vignettes/vignette_DE.R
vignettes/vignette_DE.tex
vignettes/vignette_DE.toc
vignettes/paper_plot_*.pdf
