.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: Calibri, sans-serif;
    color: #262673;
    text-transform: none;
    text-shadow: none;
}

.reveal h1.title {
    font-weight: bolder;
}

.reveal h1.subtitle {
    font-size-adjust: 0.19;
}

.reveal h2.author {
    font-size-adjust: 0.23;
}

.reveal h3.date {
    font-size-adjust: 0.27;
}

.reveal section img {
    background: none; 
    border: none; 
    box-shadow: none;
}

.reveal pre {
    max-width: 800px;
}

.reveal code .r {
    max-width: 800px;
}

#problemstellung-karte-date h2 {
    color: #ffffff;
}

#po-query {
    font-size-adjust: 0.4;
}

#hyd1d-method-1 h2 {
    text-align: left;
}

#hyd1d-method-2 h2 {
    text-align: left;
}

#hyd1d-method-3 h2 {
    text-align: left;
}

#hyd1d-method-4 h2 {
    text-align: left;
}

#hyd1d-method-5-1 h2 {
    text-align: left;
}

#hyd1d-method-5-2 h2 {
    text-align: left;
}

#hyd1d-method-5-3 h2 {
    text-align: left;
}

#hyd1d-method-5-4 h2 {
    text-align: left;
}

#hyd1d-method-5-5 h2 {
    text-align: left;
}

#hyd1d-install ul li {
    text-align: left;
}

#hyd1d-s4-2 code {
    font-size: 87%;
}

#hyd1d-s4-3 code {
    font-size: 87%;
}

#hyd1d-s4-4 code {
    font-size: 87%;
}

#hyd1d-waterLevel ul li {
    text-align: left;
}

#hydflood3-algorythm1 h2 {
    color: #ffffff;
}

#hydflood3-algorythm2 h2 {
    color: #ffffff;
}

#hydflood3-algorythm3 h2 {
    color: #ffffff;
}

#hydflood3-algorythm4 h2 {
    color: #ffffff;
}

